@font-face {
    font-family: "TT Lakes";
    font-weight: 400;
    src: url(font/TTLakes-Regular.woff);
}

@font-face {
    font-family: "TT Lakes";
    font-weight: 600;
    src: url(font/TTLakes-Medium.woff);
}

@font-face {
    font-family: "TT Lakes";
    font-weight: 800;
    src: url(font/TTLakes-Bold.woff);
}

* {
    margin: 0;
    padding: 0;
}

button {
    border: none;
    background: none;
    cursor: pointer; 
}

body {
    font-family: "TT Lakes";
    font-weight: 400;
    margin: 0;
    background-color: #F8F8F8;
}

header {
    display: flex;
    align-items: center;
    height: 88px;
    padding: 0 16px;
    border-bottom: 1px solid #D9FFF5;
    background-color: #FFFFFF;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 17px;
}

.header__nav_left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 17px;
}

.header__nav_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 17px;
}

.header__nav_left::after {
    content: "";
    background-color: #EAEAEA;
    width: 2px;
    height: 32px;
    border-radius: 1px;
}

.call,
.chat,
.profile {
    display: none;
}

.repair__text,
.checkstatus__text {
    display: none;
}

.services {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;
    margin-top: 24px;
}

.services__title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 28px;
}

.services__title::before {
    content: "";
    background-color: #41F6D7;
    width: 4px;
    height: 40px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-right: 12px;
}

.services__nav {
    display: flex;
    justify-content: space-between; 

    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;

    list-style-type: none;
    margin-left: 16px;
    -webkit-mask-image: linear-gradient(to right, rgb(255, 255, 255) 90%, transparent 100%);
    mask-image: linear-gradient(to right, rgb(255, 255, 255) 90%, transparent 100%);
}


.services__button {
    font-family: "TT Lakes";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;
    
    color: #7E7E82;
    text-wrap: nowrap;

    align-self: center;
    padding: 8px 16px;
}

.services__button_active {
    background-color: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 35px;

    font-size: 14px;
    letter-spacing: 0.2px;
    text-align: left;
}

.content__text {
    display: flex;
    flex-direction: column;
    margin: 0 16px;
    gap: 16px;
}

.content__paragraph {
    height: 95px;
    overflow: hidden;
}

/*               чекбокс, кастомный чекбокс, читать далее-скрыть          */
.checkbox_text-more {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox_text-more:checked ~ .content__paragraph {
    height: auto;
}

.checkbox_text-more:checked ~ label .custom-checkbox_text-more {
    display: none;
}

.checkbox_text-more:checked ~ label .custom-checkbox_text-less {
    display: inline-block;
}

.custom-checkbox_text-more,
.custom-checkbox_text-less {
    display: inline-block;
    padding-right: 5px;
    border: 2px solid #F8F8F8;

    cursor: pointer;

    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
}

.custom-checkbox_text-less {
    display: none;
}

.custom-checkbox_text-more::before,
.custom-checkbox_text-less::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    width: 24px;
    height: 24px;
    background: url("assets/expand.svg");
}

.custom-checkbox_text-less::before {
    transform: rotate(180deg);
}

.custom-checkbox_text-more:hover,
.custom-checkbox_text-less:hover {
    background-color: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.CPS-logo-photo {
    max-width: max-content;
}


@media screen and (min-width: 768px) {
    .call,
    .chat,
    .profile {
        display: inline-block;
    }

    .header__nav_left::after {
        display: none;
    }
    
    .menu::after,
    .profile::after {
        content: "";
        display: inline-block;
        background-color: #EAEAEA;
        width: 2px;
        height: 32px;
        border-radius: 1px;
        margin-left: 20px;
        margin-right: 3px;
    }

    .services__title::before {
        margin-right: 20px;
    }

    .services {
        gap: 32px;
    }

    .services__nav {
        padding-right: 30px;
    }
   
    .content {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin: 0 40px 40px 24px;
        gap: 48px;
    }

    .content__text {
        width: 50%;
        margin: 0;
    }

    .CPS-logo-photo {
        display: inline-block;
        width: 50%;
        border-radius: 6px;
    }

    .content__paragraph {
        height: 157px;
    }
}



@media screen and (min-width: 1120px) {
    header {
       visibility: hidden;
    }

    .header__nav_right {
        position: relative;
        top: 42px;
        right: 32px;
    }

    .checkstatus,
    .repair {
        visibility: visible;
        display: flex;
        align-items: center;
        gap: 8px;
    }
    .repair__text,
    .checkstatus__text {
        display: inline;
        font-family: "TT Lakes";
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.2px;
        text-align: right;
    }

    .services {
        position: absolute;
        top: 42px;
        gap: unset;
    }

    .services__title::before {
        margin-right: 30px;
    }

    .services__nav {
        margin: 8px 32px;
        padding-right: 0;

        justify-content: flex-start;
        flex-wrap: wrap;

        overflow-x: hidden;

        -webkit-mask-image: none;
        mask-image: none;
    }

    .content {
        margin: 0 29px 49px 34px;
    }

    .content__text {
        margin-top: 16px;
    }

    .CPS-logo-photo {
        margin-top: 7px;
    }
}